{% load getrange %}
<div class='wrap-above'>
    <form action='/subgraph/' method='post'> {% csrf_token %}
    {% for n in 10|get_range %}
    <div class='wrapper-select'>
        <div class='wrapper'>
            <div class='colorbox{{ n }}'></div>
            <div class='subject'>Subject {{ n }}</div>
        </div>
        <div class="form-group">
            <select name="Subject{{ n }}" id="Sub{{ n }}" onchange="noticeChange('Sub{{ n }}',{{ n }})">
                <option name="subj{{ n }}_null">-----</option>
            {% for choice in dataSet.choice %}
                <option name="subj{{ n }}_{{ choice }}">{{ choice }}</option>
            {% endfor %}
            </select>
        </div>
    </div>
    {% endfor %}
    <input type="submit" value="Graph">
    </form>
</div>
